.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;

  clear: both;
  overflow: auto;
}
.card h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 5px solid #eaeaea;
  font-size: 18px;
}

.centerpadding {
  background-color: #0a001d;
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header h1 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 0;
}
.page-header p {
  margin-top: 0;
}

.top-header {
  text-align: center;
  font-size: 20px;
  text-align: center;
  background: white;
}

.blog-posts {
  padding: 20px 0;
}

.blog-post-container {
  max-width: 1180px;
  margin: 0 auto;
}

.blog-post-rows {
  position: relative;
  overflow: auto;
  margin-bottom: 30px;
}

.blog-post-item {
  width: 48%;
  margin: auto 1%;
  display: block;
  float: left;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.blog-post-item:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.5s ease;
}

.blog-post-image {
  position: relative;
  z-index: 10;
}

.blog-post-image img {
  max-width: 100%;
}

.blog-post-image .meta {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  background-color: #2b3938;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.blog-post-content {
  padding: 10px 15px;
}



@media screen and (max-width: 800px) {
  .blog-post-item {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .blog-post-item {
    width: 100%;
  }
}

.fakeimg {
  background-image: url(/PraveensudharsananProjectfiles/images/logo.png);
  max-width: 100%;
  padding: 20px;
}


.column img {
  margin-top: 8px;
  vertical-align: middle;

}


.btn_grid {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn_grid:hover {
  background-color: #ddd;
}

.btn_grid.active {
  background-color: #666;
  color: white;
}

.pop_content {
  display: flex;
  margin-bottom: 15px;
}

.pop_content img {
  width: 110px;
  height: 110px;
  margin-right: 10px;
}

.pop_content:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.5s ease;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}



/* -------------------------------------------------------------------------- */
/*                                  preloader                                 */
/* -------------------------------------------------------------------------- */

.preloader
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #fff;
z-index: 9999;
text-align: center;
}
.preloader-icon
{
position: relative;
top: 45%;
width: 100px;
border-radius: 50%;
animation: shake 1.5s infinite;
}
@keyframes shake
{
0% { transform: translate(1px, -1px) rotate(0deg);}
10% { transform: translate(1px, -3px) rotate(-1deg);}
20% { transform: translate(1px, -5px) rotate(-3deg);}
30% { transform: translate(1px, -7px) rotate(0deg);}
40% { transform: translate(1px, -9px) rotate(1deg);}
50% { transform: translate(1px, -11px) rotate(3deg);}
60% { transform: translate(1px, -9px) rotate(0deg);}
70% { transform: translate(1px, -7px) rotate(-1deg);}
80% { transform: translate(1px, -5px) rotate(-3deg);}
90% { transform: translate(1px, -3px) rotate(0deg);}
100% { transform: translate(1px, -1px) rotate(-1deg);}
}

/* -------------------------------------------------------------------------- */
/*                                scroll button                               */
/* -------------------------------------------------------------------------- */

#myBtn:hover {
  background-color: #555;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


/* -------------------------------------------------------------------------- */
/*                           More news widget styles                          */
/* -------------------------------------------------------------------------- */

.more-news {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.more-news .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featured-news {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;

}

.featured-news h2.featured-section {
  flex: 0 0 100%;
}

.featured-news .featured-news-main {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.featured-news .featured-news-main figure {
  margin-bottom: 10px;
}

.featured-news .featured-news-list {
  flex: 1;
}

.featured-news .featured-news-list-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;

}

.featured-news .featured-news-list-item figure {
  margin-right: 10px;
}

/* news list items  */
.latest-news {
  padding: 0 15px;
  width: 100%;
}
.latest-news h3 {
  font-weight: 600;
}

.latest-news .latest-news-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.latest-news .latest-news-item .date {
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
  background: #0a001d;
  color: #ffffff;
  padding: 15px;
  min-width: 50px;
}
.latest-news .latest-news-item .date span {
  font-size: 40px;
  line-height: 1;
}

@media only screen and (min-width : 375px) {
  .featured-news {
    width: 100%;
  }

  .featured-news .featured-news-main {
    width: 100%;
    padding-right: 5%;
  }

  .featured-news .featured-news-main {
    width: 100%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 100%;
  }

  .featured-news .featured-news-list {
    width: 100%;
  }



  .latest-news {
    padding: 0 15px;
    flex: 1;
  }
}

@media only screen and (min-width : 560px) {
  .featured-news .featured-news-main {
    width: 50%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 45%;
  }




}

@media only screen and (min-width : 768px) {
  .featured-news {
    width: 60%;
  }

  .featured-news .featured-news-main {
    width: 100%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 45%;
  }

  .latest-news {
    padding: 0 15px;
    flex: 1;
  }
}

@media only screen and (min-width : 968px) {

  .featured-news .featured-news-main {
    width: 50%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 45%;
  }
}

/* --------------------------- customer review box -------------------------- */

.review-section {  
  margin-top: 20px;  
  background-color: #ffffff;
  padding: 25px 15px;
}

.review-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-radius: 3px;
  border-bottom: 2px dashed #eaeaea;
}
.review-item:last-child {
  border: none;
}
.review-item figure img {
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
.review-item figure {
  text-align: center;
  margin-bottom: 15px;
}
.review-item .review-content {
  padding: 15px 20px;
}

@media only screen and (min-width : 640px) {
 .review-item {
    flex-direction: row;
  }

  .review-item figure {
    width: 25%;
    margin-bottom: 0;
  }
  .review-item .review-content {
    width: 75%;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
    display: inline-block;

  }
}

/* ------------------------------ button block ------------------------------ */
.button-block {
  margin-top: 15px;
}
.button-block .next-button {
  text-align: right;
  width: 50%;
}
.button-block .prev-button {
  text-align: left;
  width: 50%;
}
.green-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  display: inline-block;
  width: 110px;
  text-align: center;

}
/* -------------------------------------------------------------------------- */
/*                                   slider                                   */
/* -------------------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* -------------------------------------------------------------------------- */
/*                                 contenttab                                 */
/* -------------------------------------------------------------------------- */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* -------------------------------------------------------------------------- */
/*                                 modelpopup                                 */
/* -------------------------------------------------------------------------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
