.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;

  clear: both;
  overflow: auto;
}
.card h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 5px solid #eaeaea;
  font-size: 18px;
}

.centerpadding {
  background-color: #0a001d;
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header h1 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 0;
}
.page-header p {
  margin-top: 0;
}

.top-header {
  text-align: center;
  font-size: 20px;
  text-align: center;
  background: white;
}

.blog-posts {
  padding: 20px 0;
}

.blog-post-container {
  max-width: 1180px;
  margin: 0 auto;
}

.blog-post-rows {
  position: relative;
  overflow: auto;
  margin-bottom: 30px;
}

.blog-post-item {
  width: 48%;
  margin: auto 1%;
  display: block;
  float: left;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.blog-post-item:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.5s ease;
}

.blog-post-image {
  position: relative;
  z-index: 10;
}

.blog-post-image img {
  max-width: 100%;
}

.blog-post-image .meta {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  background-color: #2b3938;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.blog-post-content {
  padding: 10px 15px;
}



@media screen and (max-width: 800px) {
  .blog-post-item {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .blog-post-item {
    width: 100%;
  }
}

.fakeimg {
  background-image: url(/PraveensudharsananProjectfiles/images/logo.png);
  max-width: 100%;
  padding: 20px;
}


.column img {
  margin-top: 8px;
  vertical-align: middle;

}


.btn_grid {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn_grid:hover {
  background-color: #ddd;
}

.btn_grid.active {
  background-color: #666;
  color: white;
}

.pop_content {
  display: flex;
  margin-bottom: 15px;
}

.pop_content img {
  width: 110px;
  height: 110px;
  margin-right: 10px;
}

.pop_content:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.5s ease;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


/* -------------------------------------------------------------------------- */
/*                           More news widget styles                          */
/* -------------------------------------------------------------------------- */

.more-news {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.more-news .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featured-news {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;

}

.featured-news h2.featured-section {
  flex: 0 0 100%;
}

.featured-news .featured-news-main {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.featured-news .featured-news-main figure {
  margin-bottom: 10px;
}

.featured-news .featured-news-list {
  flex: 1;
}

.featured-news .featured-news-list-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;

}

.featured-news .featured-news-list-item figure {
  margin-right: 10px;
}

/* news list items  */
.latest-news {
  padding: 0 15px;
  width: 100%;
}
.latest-news h3 {
  font-weight: 600;
}

.latest-news .latest-news-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.latest-news .latest-news-item .date {
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
  background: #0a001d;
  color: #ffffff;
  padding: 15px;
  min-width: 50px;
}
.latest-news .latest-news-item .date span {
  font-size: 40px;
  line-height: 1;
}

@media only screen and (min-width : 375px) {
  .featured-news {
    width: 100%;
  }

  .featured-news .featured-news-main {
    width: 100%;
    padding-right: 5%;
  }

  .featured-news .featured-news-main {
    width: 100%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 100%;
  }

  .featured-news .featured-news-list {
    width: 100%;
  }



  .latest-news {
    padding: 0 15px;
    flex: 1;
  }
}

@media only screen and (min-width : 560px) {
  .featured-news .featured-news-main {
    width: 50%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 45%;
  }




}

@media only screen and (min-width : 768px) {
  .featured-news {
    width: 60%;
  }

  .featured-news .featured-news-main {
    width: 100%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 45%;
  }

  .latest-news {
    padding: 0 15px;
    flex: 1;
  }
}

@media only screen and (min-width : 968px) {

  .featured-news .featured-news-main {
    width: 50%;
    padding-right: 5%;
  }

  .featured-news .featured-news-list {
    width: 45%;
  }
}

/* --------------------------- customer review box -------------------------- */

.review-section {  
  margin-top: 20px;  
  background-color: #ffffff;
  padding: 25px 15px;
}

.review-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-radius: 3px;
  border-bottom: 2px dashed #eaeaea;
}
.review-item:last-child {
  border: none;
}
.review-item figure img {
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
.review-item figure {
  text-align: center;
  margin-bottom: 15px;
}
.review-item .review-content {
  padding: 15px 20px;
}

@media only screen and (min-width : 640px) {
 .review-item {
    flex-direction: row;
  }

  .review-item figure {
    width: 25%;
    margin-bottom: 0;
  }
  .review-item .review-content {
    width: 75%;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 100px;

  }
  
  .next {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 1000px;

  }
}
