.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.75);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;

}

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__menu {
    width: 40%;
}

.socials {
    display: flex;

    padding-right: 20px;

}

.socials__item:last-child {
    margin-right: 0;
}

.socials__item:hover {
    opacity: 70%;
    transition: 0.3s;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    position: relative;
}


.socials__item--icon--fb .socials__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url() -10px -10px;
}

.socials__item--icon--fb .socials__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url(../images/icons/css_sprites.png ) -10px -10px;
}

.socials__item--icon--ins .socials__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url(../images/icons/css_sprites.png  ) -62px -10px;
}

.socials__item--icon--in .socials__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url(../images/icons/css_sprites.png ) -114px -10px;
}

.socials__item--icon--tw .socials__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url(../images/icons/css_sprites.png ) -166px -10px;
}


.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__menu {
    width: 40%;
}

.hero {
    margin-bottom: 100px;
}


.hero__title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 50px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    color: #414C63;
}

.menu__item {
    margin-right: 15px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.menu__link:hover {
    border-color: #9E0000;
    transition: 0.3s;
}

.logo {
    width: 70px;
    height: 70px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;

}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 70px;
    width: 20%;
}

.logo__img {
    width: 60px;
    height: 60px;
    padding-left: 40px;
}

@media only screen and (min-width:360px) {
    .header__menu {
        font-size: 15px;
    }

}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .header__menu {
        display: none;
    }

    .socials__header {
        margin-right: 45px;
    }

    .hamburger {
        display: block;
        position: absolute;
        width: 25px;
        right: 20px;
    }
}

.read__button--link {
    padding: 15px 40px;
    border: 3px #fff solid;
    text-transform: uppercase;
}

.read__button--link--black {
    border-color: #000;
}

@media screen and (max-width: 1200px) {
    .header__menu {
        width: 55%;
    }

    .socials__item {
        margin-right: 10px;
    }

    .footer__col {
        flex: none;
    }

    .footer__col--one {
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
        margin-right: 0;
        margin-bottom: 30px;
        align-items: center;
    }

    .footer__text {
        text-align: center;
    }
}

.container figure {
    margin: 0;
}

.container_img {
    max-width: 100%;
    display: block;
}

.container__ {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}