.menu__list {
    display: flex;
    justify-content: space-between;
    color: #414C63;
}

.menu__item {
    margin-right: 15px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.menu__link:hover {
    border-color: #9E0000;
    transition: 0.3s;
}