body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.main-bg {
    background: url(../images/p8.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    min-height: 100vh;
    margin-bottom: 20px;
}

.main-bg h1 {
    font-size: 3vw;
    color: darkred;
    text-align: center;
    padding: 2.5vw 1vw 1vw;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
    padding: 30px;
    border: 0;
}

.sub-main {
    margin: 1.5vw 16vw;
    margin: 3vw auto;
    max-width: 1067px;
}

.image-style {
    background: url(../images/logo.png) no-repeat center;
    background-size: cover;
    float: left;
    width: 360px;
    height: 350px;

}

.vertical-tab {
    color: #333;
    display: block;
    margin: auto;
    position: relative;
    float: left;
 
}

.vertical-tab input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.vertical-tab .section-ls {
    display: block;
}

.vertical-tab .section-ls label {
    cursor: pointer;
    display: block;
    font-size: 17px;
    padding: 37px 20px;
    position: relative;
    width: 189px;
    z-index: 100;
    color: darkred;
    text-align: center;
}

.vertical-tab .section-ls article {
    display: none;
    left: 230px;
    min-width: 570px;
    position: absolute;
    top: 0;
}

.vertical-tab input[name="sections"]:checked+label {
    background: lightseagreen;
    border-right: 1px solid #000;
    color: #fff;
}

.vertical-tab input[name="sections"]:checked~article {
    display: block;
}

label.icon-left-pvt span {
    display: block;
    font-size: 30px;
    margin-bottom: 7.8px;
}

.sub-main form {
    padding: 2em;
}

.legend {
    color: darkred;
    font-size: 35px;
    text-align: center;
    margin-bottom: 1.2em;
    font-weight: 400;
}

p.para-style {
    color: darkred;
    margin-bottom: .8em;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.8;
}

p.para-style-2 {
    color: darkred;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.8;
    margin-bottom: 2em;
}

p.para-style-2 a {
    color: blue;
}

.input {
    margin-bottom: 1em;
    padding: 13px 15px;
    border: 1px solid #eee;
    background: #eee;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.input span {
    font-size: 15px;
    color: darkred;
    margin-right: 10px;
}

.input input {
    color: darkred;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.submit {
    margin: 2.3em auto 0;
    background: lightseagreen;
    border: none;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    display: block;
    color: darkred;
    padding: 14px 30px;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}

.submit:hover {
    opacity: .8;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

a.bottom-text-ls {
    color: darkred;
    font-size: 14px;
    display: inherit;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3.2em;
}

#comentBox{
    color: darkred;
    padding: 1%;
    width: 70%;
    border: 1px solid darkred;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 150px;
    background: lightseagreen;
    box-shadow: 10px 10px 10px darkred;
   
}

.clear{
    clear: both;
}

.form1{
    color: darkred;
    background: url(../images/s10.jpg) no-repeat center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}  

.form1 h1{
    padding-bottom: 20px;

}

.form1 input, .form1 textarea{
   
    padding-top: 5px;
    width: 300px;
    background: #eee;
}

.form1 input[type="button"]{
    font-weight: bold;
    font-size: 150%;
    color: darkred;
    background-color: lightseagreen;
}


#btntotop{
    position: fixed;
    right: 70px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: darkred;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: lightseagreen;
    border: none;
    outline: none;
    cursor: pointer;
}

#btntotop:active{
    background: lightcoral;
}

#btntonext{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: darkred;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: lightseagreen;
    border: none;
    outline: none;
    cursor: pointer;
}

#btntotopnext:active{
    background: lightcoral;
}

@media(max-width: 1080px) {
    h1 {
        font-size: 4vw;
    }
}

@media(max-width: 768px) {
    .sub-main {
        max-width: 575px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .image-style {
        float: none;
        width: 100%;
        min-height: 300px;
        order: 2;
    }

    .vertical-tab {
        float: none;
        width: 100%;
    }
}

@media(max-width: 480px) {
    .vertical-tab .section-ls article {
        min-width: 291px;
        left: 109px;
    }

    .vertical-tab .section-ls label {
        width: 89px;
        font-size: 14px;
        padding: 26.8px 10px;
    }

    .sub-main {
        max-width: 400px;
    }

    .image-style {
        min-height: 220px;
    }

    .sub-main form {
        padding: 1.5em;
    }

    .submit {
        font-size: 14px;
    }

    .input input {
        font-size: 13px;
    }

    p.para-style {
        margin-bottom: .4em;
        font-size: 13px;
    }

    p.para-style-2 {
        font-size: 13px;
    }

    .input {
        padding: 12px 12px;
    }

    a.bottom-text-ls {
        margin-top: 3em;
    }

    .last-btn {
        margin: 1em auto 0;
    }

    .copyright h2 {
        font-size: 12px;
    }
}



