.hero {
    height: 100vh;
    background: url(../../images/content/18.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    font-size: 4.5em;
    font-weight: bold;
    margin-bottom: 50px;
}

.hero__about {
    height: 50vh;
    background: url(../../images/content/24.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero__team {
    height: 50vh;
    background: url(../../images/content/21.jpg) center -10px no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}