.numbers {
    color: #fff;
    padding: 100px 10%;
    background: url(../../images/content/23.jpg) center center no-repeat;
    background-size: 100%;
    background-color: #000;
}

.numbers__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number {
    font-size: 5em;
}